<div class="w-50 mx-auto bg-white rounded p-3">
  <h1 class="fs-6 font-medium text-uppercase text-center mb-3">Book a flight</h1>

  <%= form_with model: @flight do |f| %>
    <div class="row">
      <div class="col" data-controller="autocomplete">
        <div class="position-relative">
          <%= f.label :departure_airport, "Departing from", class: "form-label small" %>
          <%= f.text_field :departure_airport, class: "form-control", data: {
            "action": "input->autocomplete#change",
            "autocomplete-url-param": airports_path(format: :turbo_stream),
            "autocomplete-target": "input"
          } %>

          <%= turbo_frame_tag :autocomplete_departure_airport, data: { "autocomplete-target": "list" } %>
        </div>
      </div>

      <div class="col" data-controller="autocomplete">
        <div class="position-relative">
          <%= f.label :arrival_airport, "Flying to", class: "form-label small" %>
          <%= f.text_field :arrival_airport, class: "form-control", data: {
            "action": "input->autocomplete#change",
            "autocomplete-url-param": airports_path(format: :turbo_stream),
            "autocomplete-target": "input"
          } %>

          <%= turbo_frame_tag :autocomplete_arrival_airport, data: { "autocomplete-target": "list" } %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col text-end">
        <%= f.submit "Find Flights", class: "btn btn-warning", disabled: true %>
      </div>
    </div>
  <% end %>
</div>
