<section class="mx-auto bg-white rounded p-3 mb-5">
  <h1 class="fs-6 font-medium text-uppercase text-center mb-3">Book a flight</h1>

  <%= form_for @flight, data: { controller: "validate" } do |f| %>
    <div class="row mb-3">
      <div class="col">
        <%= f.label :departure_airport, "Departing from", class: "form-label small" %>
        <%= f.text_field :departure_airport, class: "form-control", data: {
          "action": "input->validate#check",
          "validate-target": "departure"
        } %>
      </div>

      <div class="col">
        <%= f.label :arrival_airport, "Flying to", class: "form-label small" %>
        <%= f.text_field :arrival_airport, class: "form-control", data: {
          "action": "input->validate#check",
          "validate-target": "arrival"
        } %>
      </div>
    </div>

    <div class="row">
      <div class="col text-end">
        <%= f.submit "Find Flights", class: "btn btn-warning", disabled: true, data: { "validate-target": "button" } %>
      </div>
    </div>
  <% end %>
</section>

<section class="mx-auto">
  <h1 class="fs-5 font-medium">Recently Booked Flights</h1>

  <%= turbo_frame_tag :flights, src: flights_path %>
</section>
